body {
	font-family: Tahoma;
	background-color: rgb(90, 160, 212);
	-webkit-transition: background-color 4s;
	transition: background-color 4s;
}

body.bg1 {
	background-color: rgb(44, 130, 193);
}

body.bg1.bg2 {
	background-color: rgb(23, 145, 234);
}

body.bg1.bg2.bg3 {
	background-color: rgb(5, 76, 128);
}

.gridBoxContainer {
	width: 522px;
	height: 522px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -261px;
	margin-left: -261px;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}

.gridBoxContainer.animate {
	-webkit-transform: rotateY(-360deg);
	transform: rotateY(-360deg);
}

.tile {
	background-repeat: no-repeat;
	width: 29px;
	height: 29px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	-webkit-transform: rotateY(270deg);
	transform: rotateY(270deg);
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
}

.tile.visible {
	-webkit-transform: rotateY(360deg);
	transform: rotateY(360deg);
	opacity: 1;
}