body {
	font-family: Tahoma;
	background-color: rgb(90, 160, 212);
}
.gridBoxContainer {
	width: 400px;
	height: 400px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
}
.tile {
	background-image: url("../assets/images/k-400x400.png");
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	-webkit-transform: rotateY(270deg);
	transform: rotateY(270deg);
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
}
.tile.visible {
	-webkit-transform: rotateY(360deg);
	transform: rotateY(360deg);
	opacity: 1;
}
